/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
/*	font-size: 100%;*/
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONTS */

@font-face {
  font-family: 'Cormorant Garamond', serif;
}



/* GENERAL */

* {
    box-sizing: border-box;
		cursor: url('cursor.png'), auto;
}

html {
    font-family: 'Cormorant Garamond', serif;
		font-weight: 100;
    font-size: 30px;
    color: #000;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;

}


body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat(100%);
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
/*    border: 1px solid red;*/
    line-height: 1.5em;
}

a {
    display: inline;
    text-decoration: inherit;
    color: inherit;
}

/* Animation */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


  @-webkit-keyframes bounce {
    0%       { transform: translateX(0) }
    50%      { transform: translateX(10px) }
    100%     { transform: translateX(0) }
  }

   @-moz-keyframes bounce {
    0%       { transform: translateX(0) }
    50%      { transform: translateX(10px) }
    100%     { transform: translateX(0) }
  }

   @-o-keyframes bounce {
    0%       { transform: translateX(0) }
    50%      { transform: translateX(10px) }
    100%     { transform: translateX(0) }
  }

   @keyframes bounce {
    0%       { transform: translateX(0) }
    50%      { transform: translateX(10px) }
    100%     { transform: translateX(0) }
  }


/* Layout */

.half {
    /*border: 1px solid red;*/
    flex: 1;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Intro */

.intro {
    background-color: #fff;
}

.bio {
    color: #000;
		max-width: 400px;
}

.name {
    color: #000;
		border-bottom: 2px solid #ffe41c;
		font-family: 'Roboto Mono', sans-serif;
		font-size: 24px;
		font-weight: 400;
}

.name2 {
	color: #000;
	border-bottom: 2px solid #ffe41c;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 24px;
	font-weight: 400;
}

a:hover {
	cursor: url('cursor2.png'), auto;
}

img:hover {
	cursor: url('cursor2.png'), auto;
}

.name:hover {
	cursor: url('cursor2.png'), auto;
}

.name2:hover {
	cursor: url('cursor2.png'), auto;
}

.name.animated{
  position: relative;
  top: 2px;
  animation: bounce .2s ease 3 alternate;
}

@keyframes bounce {
  100% {
    top: -2px;
  }
}

.mantle {
    align-items: flex-end;
    padding: 10vw 0 10vw 10vw;
}


.arrow {
    margin-top: 1.5em;
    margin-right: 2.5em;
    -webkit-animation:bounce 2s infinite;
    -moz-animation:bounce 2s infinite;
    -o-animation:bounce 2s infinite;
    animation:bounce 2s infinite;
		font-family: 'Roboto Mono', sans-serif;
		color: #ffe41c;
		font-size: 15px;
		line-height: 1.7em;
		font-weight: 400;
}

/* Work */

.work {
    background-color: #f7f7f7;
    display: flex;
    padding: 10vw;
    width: 100%;
		height: 100%;
    overflow: scroll;
}

.work {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
.work::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.cell {
  margin: 1rem;
}

/* Work Mobile */

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.grid {

}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}

/* Work Tablet */

@media screen and (min-width: 600px) {
	.work {
		align-content: center;
		justify-content: center;
		overflow: hidden;
	}

	.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
     width: calc(33.333% - 2rem);
  }
}

/* Work Desktop*/

@media screen and (min-width: 1000px) {
	.work {
		align-content: center;
		justify-content: center;
		overflow: hidden;
	}

	.cell {
    width: calc(25% - 2rem);
	}
}

/* Fancybox Styling */

.fancybox-bg {
	background-color: #fff!important;
	opacity: !important;
}

.fancybox-toolbar {
	display: none!important;
}

	a:focus {
		outline: none;
}

.fancybox-navigation .fancybox-button {
	display: none;
}

html.fancybox-lock {
    overflow: visible !important;
}

/* Career */

.career {
	display: block;
	background-color: #ffe41c;
	padding: 10vw;
	color: white;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.4em;
}

.career a {
	font-family: 'Roboto Mono', sans-serif;
	font-size: 31px;
	font-weight: 400;
}

.career a:hover {
	color: red;
	cursor: url('cursor2.png'), auto;
}
.smallcaps {
	font-size: 26px;
	letter-spacing: .01em;
	font-weight: 300;
}

.smallcaps2 {
	font-size: 32px;
	letter-spacing: .01em;
	font-weight: 600;
}


/* Contact */

.contact {
    display: block;
    background-color: white;
    padding: 10vw;
}

.time {
    margin-bottom: 1em;
}


/* Desktop */

@media only screen and (min-width : 320px) and (max-width : 560px) {
	body {-webkit-text-size-adjust: 100%;}
	.career {font-size: 26px; font-weight: 700;}
	.career a {font-size: 21px; color: red;}
	.smallcaps2 {font-size: 21px; font-weight: 700;}
}

@media only screen and (orientation : landscape) {
    body {}
    .work {}
    .career {flex-direction: row-reverse;}
		.career p {max-width: 900px;}
}
